
<div *ngIf="userProfile" >
    <div class="card mx-auto" style="width: 50%; margin-top: 15%;">
        <div class="card-body">
            <div class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><h1><u>Profile</u></h1></div>
        <h5 class="card-title">UserName: {{ userProfile.username }}</h5>
        <h5 class="card-title">Email: {{ userProfile.email }}</h5>
        <h5 class="card-title">Joined on: {{ userProfile.createdDate }}</h5>
        
        
        </div>
    </div>
</div>
<div *ngIf="!userProfile" class="jumbotron">
    <h6>No Profile Found</h6>
</div>