<app-nav></app-nav>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h1><b>Register</b></h1>
                        <h2>If you are new to the chatter box then you need to register here</h2>
                        <button type="button" class="btn btn-primary" routerLink="#">Register</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h1><b>Login </b></h1>
                        <h2>If you already an account in the chatter box please go to the login page by clicking the
                            below
                            link
                        </h2>
                        <button type="button" class="btn btn-primary" routerLink="#">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>